<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Insert</title>
<style>
    label{
        width:75px;
        display:inline-block;
    }

</style>
</head>
<body>
    <h1 style="text-align:center;">SSAFY ADD EMPLOYEE</h1>
    <div id="app" style="width:1200px; margin:0 auto;">
        <label for="name">이름 : </label><input id="name" v-model="name"><br>
        <label for="depart">부서 : </label><input id="name" v-model="depart"><br>
        <label for="tier">직책 : </label>
        <select id="tier" v-model="tier">
            <option value="사원">사원</option>
            <option value="대리">대리</option>
            <option value="과장">과장</option>
            <option value="부장">부장</option>
        </select><br>
        <label for="salary">연봉 : </label><input id="salary" v-model="salary"><br>
        <button type="button" @click="insert()">사원추가</button>
        <a href="list.html">사원목록</a>
    </div>

    <script>
        var index = 1;
        new Vue({
            el:'#app',
            data:{
                name: "",
                depart:"",
                tier:"",
                salary:"",
            },
            methods:{
                insert: function(){
                    localStorage.setItem(this.name ,JSON.stringify({
                        name:this.name,
                        depart:this.depart,
                        tier:this.tier,
                        salary:this.salary,
                    }));
                    index++;
                    location.href="insert.html";
                },
            }
        });
    </script>
</body>
</html>