.img1{
    width:100%;
    height:500px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.img1::after{
    width:100%;
    height:500px;
    content: "";
    background-image: url(img/house.jpg);
    background-size: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 40%;
    z-index: -1;
}

.img2{
    width:100%;
    height:100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.img2::after{
    width:100%;
    height:100%;
    content: "";
    background-image: url(img/h2.jpg);
    background-size: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 80%;
    z-index: -1;
    border-radius: 30px;
}

.img3{
    width:100%;
    height:100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.img3::after{
    width:100%;
    height:100%;
    content: "";
    background-image: url(img/h3.jpg);
    background-size: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 80%;
    z-index: -1;
    border-radius: 30px;
}

.img4{
    width:100%;
    height:100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.img4::after{
    width:100%;
    height:100%;
    content: "";
    background-image: url(img/h4.jpg);
    background-size: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity: 80%;
    z-index: -1;
    border-radius: 30px;
}



